@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'futura';
    src: url('../fonts/futura.ttf');
}

html {
    font-size: 10px;
    --white: #FFFFFF;
    --primary-color: #634A9E;
    --secondary-color: #00afaf;
--Montserrat:'Poppins', sans-serif;
--futura:'futura';
}

body {
    font-family: 'futura';
    font-size: 1rem;
    line-height: 1.2;
    overflow-x: hidden;
}

h1 {
    font-size: 7.7rem;
    color: var(--primary-color);
}

h2 {
    font-size: 7rem;
    color: var(--primary-color);
}

h4 {
    font-size: 4.5rem;
    color: var(--primary-color);
}

p {
    font-size: 1.5rem;
    font-family: var(--Montserrat);
    line-height: 1.5;
    margin-bottom: 10px;

}
a:hover{
    color: #AF55B9 !important;
}

nav.navbar {
    background: linear-gradient(to top, #98E0DF , #DDF3F3);
    width: 100%;
    padding: 20px 0;
}

nav .navbar-collapse {
    justify-content: center;
    width: 100%;
}
nav .nav-item{
    margin-right: 30px;
}
nav .nav-item:last-child{
    margin-right: 0px;
}
nav .nav-link {
    font-size: 2rem;
    color: var(--primary-color);
}

nav .nav-link:hover,
nav .nav-link.active {
    color: var(--primary-color) !important;
}
/* nav .nav-link:last-of-type{
    margin-right: 0;
} */
.logo-img{
    height: 365px;
}
.sec-hero {
    position: relative;
    height:1060px;
}

.hero-bg{
    position: absolute;
    top: 120px;
    right: 0;
    width: 100%;
}
.hero-bg img{
    width: 100%;
}
.sec-hero .content {
    text-align: center;
    padding: 6px 0;
    z-index: 5;
    position: relative;
    background: linear-gradient(to right ,#E3DBEE,#BA99E3);
}
.sec-hero .content h1{
    font-size: 8.7rem;
    color: var(--primary-color);

}

.sec-about {
    padding: 45px;
}

.sec-about .content h1 {
    font-size: 7rem;
    font-family: initial;
}

.sec-third {
    background: url(../images/linear-bg-2.png) center no-repeat;
    background-size: cover;
}

.sec-third .content {
    padding: 15px 0;
}
.sec-third .content h2{
    font-style: italic;
}
.sec-third .content h4{
    font-size: 4rem;
}
.Let’s-text{
    font-size: 5rem;
    padding-top: 15px;
    display: block;
    font-style: italic;
}

.sec-third .content h4,
.sec-third .content h2 {
    margin-bottom: 20px;
    color: #0b2c68;
}
.small-banner{
    background: url(../images/small-banner-1.jpg) center center/cover no-repeat;
    padding: 30px 4px 30px 30px;
}
.white-color{
    color: var(--white);
}

.sec-home-cards {
    padding-bottom: 50px;
}

.sec-home-cards .img-parent {
    margin-top: 50px;
    margin-bottom: 30px;
}
.sec-home-cards .custom-col{
width: 20% !important;
}
.sec-inner-content .custom-col{
width: 20% !important;
}
.moretext {
    display: none;
  }
.card-block {
    border: none;
    border-radius: 22px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    margin-bottom: 30px;
}
.card-block .card-img-top{
    height: 180px;
    border: 2px solid var(--primary-color);
    border-radius: 40px;
}

.card-block .card-title {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.card-block .card-body {
    /* height: 260px; */
    padding: 20px 18px 50px 18px;
    

}

.card-block .card-text {
    line-height: 1.7;
    font-family: 'Montserrat', sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

}

.card-block .card-btn {
    background: url(../images/card-btn-linear-bg.png) no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px 35px 15px 35px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #5C7474;
}

.card-block:hover {
    transition: all .5s ease-in-out;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.card-block:hover .card-btn {
    background: url(../images/card-btn-linear-bg-2.png) no-repeat;
    color: var(--white) !important;
    transition: all .5s ease-in-out;

}

.sec-blogs {
    background: url(../images/linear-bg-2.png) center center/cover no-repeat;
}
.blog-bg{
    position: relative;
    height: 360px;
background: white;
}
.blog-bg img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.blog-bg .content{
    position: relative;
display: flex;
justify-content: end;
align-items: end;
height: 100%;
padding-right: 100px;
}

.blog-bg .content h2 {
    /* color: black; */
    text-transform: uppercase;
    font-size: 12rem;
}

.card-blog {
    width: 340px;

    margin: auto;
    background: transparent;
    border: none;
    transition: all .5s ease-in-out;
    margin-top: 50px;
    margin-bottom: 30px;
}
.card-blog .card-header {
    padding: 0;
    background: transparent;
    position: relative;
    border-bottom: none;
}
.card-blog .card-img-top{
    border-radius: 50%;
    height: 300px;
    border: 2px solid;
}

.card-blog .card-header .content {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, -50%);
    left: 50%;
}
.card-blog .card-header .content h3{
    font-size:2.7rem;
    text-align: center;
}

.card-blog .card-body {
    padding: 45px 10px;
    text-align: center;
}
.card-blog .card-title{
    font-size: 3rem;
}
.card-blog .card-text {
    font-size: 2rem;
    padding-bottom: 40px;
    font-family: var(--futura);
    font-weight: 700;
}

.card-blog .card-btn {
    font-size: 2rem;
    text-transform: capitalize;
    text-decoration: underline;
}
.card-blog:hover{
    margin-top: 25px;
    transition: all .5s ease-in-out;
    /* border-radius: 50%; */
    /* box-shadow: 0px 584px 234px rgba(0, 0, 0, 0.01), 0px 329px 197px rgba(0, 0, 0, 0.05), 0px 146px 146px rgba(0, 0, 0, 0.09), 0px 37px 80px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1); */
}

footer {
    background-color: #D699E5;
    color: var(--white);
    padding-top: 65px;
   
}
footer .footer-c{
text-align: center;
}
footer .logo{
    display: inline-block;
    margin-bottom: 20px;
    width: 120px;
}
.footer-form {
    margin-bottom: 40px;
}
.footer-form input{
font-size: 1.5rem;
font-family: 'Montserrat', sans-serif;
font-style: italic;
height: 40px;
background: #FFFFFF;
border-radius: 10px;
position: relative;
overflow: hidden;

}
.footer-form .send-icon{
    background: #AF55B9;
    border-radius: 10px;
padding: 8px 30px;
}

.top-footer {
    padding-bottom: 40px;
}
.top-footer h5 {
    color: var(--primary-color);
    font-size: 2rem;
}

.top-footer h4 {
    font-size: 2.5rem;
    color: var(--white);
    text-transform: capitalize;
    padding-bottom: 18px;
}

.top-footer ul {
    padding-left: 10px;
}

.top-footer ul li {
    list-style: none;
}

.top-footer ul li a {
    color: var(--white);
    font-size: 2rem;
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
}

.top-footer .info-icon {
    margin-right: 15px;
}

.top-footer p {
    font-size: 2rem;
    font-family: var(--futura);
}

.social-links {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.social-links a {
    border: 2px solid #AF55B9;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}
.social-links a:hover{
    background-color: #AF55B9;
    color: white !important;
}

.social-links a img {
    width: 20px;
}

.btm-footer p {
    font-size: 2rem;
}

.btm-footer {
    border-top: 2px solid var(--white);
    padding: 30px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
/* inner-pages */
.sec-inner-banner.matters-of-the-brain-bg{
    background: url(../images/inner-page-bg.png) center center/cover no-repeat;
    padding: 70px 0;
}
.sec-inner-banner.the-developing-reader-bg{
    background: url(../images/developing-bg.jpg) center center/cover no-repeat;
    padding: 70px 0;
}
.sec-inner-banner.blog-page-bg{
    background: url(../images/blog-bg-1.png) center center/cover no-repeat;
    padding: 70px 0;
}
.sec-inner-content .card-develop .card-img-top{
    height: 245px !important;
}
.sec-inner-content .card-blog .card-img-top{
    height: 300px !important;
}
.sec-inner-banner .content h2{
    text-shadow: 0px 0px 38px #fff;
    /* font-size: 13.6rem; */
    font-size: 10.6rem;
    /* background: radial-gradient(#ffffff, #ffffff30); */
    display: inline-block;
    /* border-radius: 27%; */
    /* box-shadow: 0px 0 140px #fff; */
}
.breadcrumb-item {
    font-size: 2rem;
}
.breadcrumb-item a{
    text-decoration: none;
    
    color: #070108;
}
.sec-inner-content{
    padding: 50px 0;
    
}
.sec-inner-content .main-para{
text-align: center;
font-size: 1.8rem;
opacity: .5;
margin-bottom: 30px;
}
.sec-inner-content .card-block{
    max-width: 400px;
}
.sec-inner-content .card-blog{
    max-width: 400px;
}
.sec-inner-content .inner-page-h2{
    font-size: 8.5rem;
    text-align: center;
    margin-bottom: 20px;
}
.sec-inner-content .card-blog .card-text {
    text-align: center;
}


.contact-us-form{
    background: url(../images/contact-us-bg.png) center center/cover no-repeat;
    
  }
  .contact-us-form h2{
  color: var(--primary-color);
  font-size: 13.6rem !important;
  }
  
 
  .contact-us-form .btn:hover{
  color: var(--dark);
  }
  label {
    font-size: 1.6rem;
    padding-bottom: 12px;
    text-transform: capitalize;
    padding-left: 15px;
    font-family: var(--Montserrat);
  }
  .contact-form{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  form.contact-form textarea,
form.contact-form input {
  background: #634a9e73 !important;
  /* opacity: 0.5; */
  color: black !important;
  border: none;
  padding: 29px 45px;
  font-size: 1.6rem;
  margin-bottom: 50px;
  text-transform: capitalize;
}



form.contact-form textarea::placeholder,
form.contact-form input::placeholder {
  color: black !important;
}
form.contact-form .btn  {
    width: 100%;
    background: var(--primary-color);
    border-radius: 5px;
    font-size: 2rem;
    padding: 18px 0;
    border-color: var(--primary-color);
  }
form.contact-form .btn:hover{
    background-color:transparent;
    color: var(--primary-color);
}
/* inner-pages */
/* matter of the brand pages */
.note-book-image{
    background: url(../images/note-book.png) center center/cover no-repeat;
    margin-top: 30px;
}
.note-book-image .content_2{
    padding: 30px 50px 50px 120px;
    position: relative;
}
.note-book-image .cat-img{
    position: absolute;
top: 6px;
}
.note-book-image .content_2 h3{
    text-align: center;
    font-size: 5rem;
color: var(--primary-color);
}
.sec-resources-content .container-fluid{
    padding: 0;
}
.sec-resources-content .content_1{
    background: linear-gradient(to top, #98E0DF , #DDF3F3);
    padding: 20px 0;
    margin-bottom: 30px;
    padding-left: 30px;

}
.sec-resources-content  h3{
    font-size: 5rem;
color: var(--primary-color);

}
.sec-resources-content .images{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* matter of the brand pages */

/* slider */
.home-slider .card-block{
    margin-left: 15px;
    margin-right: 15px;
}
.slick-next:before {
    position: relative;
    top: -15px;
    content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1552126/right-carousel-arrow.png");
  }
  
  .slick-prev:before {
    position: relative;
    top: -15px;
    right:20px;
    content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1552126/left-carousel-arrow.png");
  }
/* slider */